Pertamina.PKBL.WebApp/Service References/wcf_auth/AuthenticateUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFUserManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFUserManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ptmkpdevdad.pertamina.com:444/WCFUserManagement/AuthenticateUser.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pertamina.Lib" />
  <xs:complexType name="ResponseUsersData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ResponseMessageClass" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pertamina.Lib" minOccurs="0" name="UserPropertiesList" nillable="true" type="q1:GeneralUserProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseUsersData" nillable="true" type="tns:ResponseUsersData" />
  <xs:complexType name="ResponseMessageClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageClass" nillable="true" type="tns:ResponseMessageClass" />
</xs:schema>