Pertamina.PKBL.WebApp/Service References/wcf_domain_list/GetAllDomain1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFUserManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFUserManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDomainList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainList" nillable="true" type="tns:DomainList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomainList" nillable="true" type="tns:ArrayOfDomainList" />
  <xs:complexType name="DomainList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainList" nillable="true" type="tns:DomainList" />
</xs:schema>